<ng-container *ngIf="products.length != 0">
  <div class="px-4 px-lg-0">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-12 p-5 bg-white rounded mb-5 mt-5"
            style="
              box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
                rgba(0, 0, 0, 0.05) 0px 5px 10px;
            "
          >
            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>

                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products; let i = index">
                    <th scope="row">
                      <div class="p-2">
                        <img
                          src="{{ item.img }}"
                          alt=""
                          width="70"
                          class="img-fluid rounded shadow-sm"
                        />
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a href="#" class="text-dark d-inline-block">{{
                              item.title
                            }}</a>
                          </h5>
                          <span
                            class="text-muted font-weight-normal font-italic"
                            >{{ item.Category }}</span
                          >
                        </div>
                      </div>
                    </th>

                    <td class="align-middle">
                      <button
                        type="button"
                        (click)="qincrease(item)"
                        class="Quanbtn"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                      <span>{{ item.quantity }}</span>
                      <button
                        type="button"
                        (click)="qdecrease(item)"
                        class="Quanbtn"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                    <td class="align-middle">
                      <strong>{{ item.price * item.quantity }}</strong>
                    </td>

                    <td class="align-middle">
                      <button (click)="removeItem(item)" class="text-dark">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button (click)="emptycart();orderhistroy()" class="btn btn-danger" >Empty Cart</button>
            </div>
            <!-- End -->
          </div>
        </div>

        <div
          class="row py-5 p-4 bg-white rounded"
          style="
            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
              rgba(0, 0, 0, 0.05) 0px 5px 10px;
          "
        >
          <div class="col-lg-6">
            <div
              class="
                bg-light
                rounded-pill
                px-4
                py-3
                text-uppercase
                font-weight-bold
              "
            >
              Coupon code
            </div>
            <div class="p-4">
              <p class="font-italic mb-4">
                If you have a coupon code, please enter it in the box below
              </p>
              <div class="input-group mb-4 border rounded-pill p-2">
                <input
                  type="text"
                  placeholder="Apply coupon"
                  aria-describedby="button-addon3"
                  class="form-control border-0"
                />
                <div class="input-group-append border-0">
                  <button
                    id="button-addon3"
                    type="button"
                    class="btn btn-dark px-4 rounded-pill"
                  >
                    <i class="fa fa-gift mr-2"></i>Apply coupon
                  </button>
                </div>
              </div>
            </div>
            <div
              class="
                bg-light
                rounded-pill
                px-4
                py-3
                text-uppercase
                font-weight-bold
              "
            >
              Instructions for seller
            </div>
            <div class="p-4">
              <p class="font-italic mb-4">
                If you have some information for the seller you can leave them
                in the box below
              </p>
              <textarea
                name=""
                cols="30"
                rows="2"
                class="form-control"
              ></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="
                bg-light
                rounded-pill
                px-4
                py-3
                text-uppercase
                font-weight-bold
              "
            >
              Order summary
            </div>
            <div class="p-4">
              <p class="font-italic mb-4">
                Shipping and additional costs are calculated based on values you
                have entered.
              </p>
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Order Subtotal </strong
                  ><strong>{{ grandTotal }}</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Shipping and handling</strong
                  ><strong>$0.00</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Tax</strong><strong>$0.00</strong>
                </li>
                <li class="d-flex justify-content-between py-3 border-bottom">
                  <strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">{{ grandTotal }}</h5>
                </li>
              </ul>
              <!-- <a routerLink="/checkout" class="btn btn-dark rounded-pill py-2 btn-block" (click)="pay(20)">Procceed
                to checkout</a> -->
              <a
                class="btn btn-dark rounded-pill py-2 btn-block"
                (click)="pay(20)"
                >Procceed to checkout</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container" style="margin-left: 25%">
    <div class="center">
      <img
        src="https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif"
        alt=""
        style="height: 500px"
      />
      <h4 style="margin-left: 20%">Your cart is empty!</h4>
      <h6 style="margin-left: 20%">Add item to it now</h6>
      <button
        routerLink="/electronics"
        class="btn btn-primary"
        style="margin-left: 23%"
      >
        Shop Now
      </button>
    </div>
  </div>
</ng-container>
